<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="rpack"
    Manufacturer="Pawel Potepa"
    Version="$(var.ProductVersion)"
    UpgradeCode="92E16A72-464A-4431-A488-8CC22471D23D"
    Scope="perMachine">

    <SummaryInformation Description="rpack Windows Installer" Manufacturer="Pawel Potepa" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of rpack is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="rpack" Level="1">
      <ComponentGroupRef Id="RpackComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="rpack" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="RpackComponents" Directory="INSTALLFOLDER">
      <Component Id="RpackExecutable" Guid="*">
        <File Id="RpackExe" Source="$(var.PublishDir)\rpack.exe" KeyPath="yes" />
        <Environment
          Id="AddRpackToPath"
          Name="PATH"
          Value="[INSTALLFOLDER]"
          Permanent="no"
          Part="last"
          Action="set"
          System="yes" />
      </Component>
      <Component Id="RpackOpenExecutable" Guid="*">
        <File Id="RpackOpenExe" Source="$(var.PublishDir)\rpack-open.exe" KeyPath="yes" />
      </Component>
      <Component Id="RpackFileAssociation" Guid="*">
        <RegistryValue Root="HKCR" Key=".rpack" Value="rpack.package" Type="string" KeyPath="yes" />
        <RegistryValue Root="HKCR" Key="rpack.package" Value="rpack Package" Type="string" />
        <RegistryValue Root="HKCR" Key="rpack.package\DefaultIcon" Value="&quot;[INSTALLFOLDER]rpack-open.exe&quot;,0" Type="string" />
        <RegistryValue Root="HKCR" Key="rpack.package\shell\open" Value="Open with rpack" Type="string" />
        <RegistryValue Root="HKCR" Key="rpack.package\shell\open\command" Value="&quot;[INSTALLFOLDER]rpack-open.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Root="HKCR" Key="rpack.package\shell\apply-dirty" Value="Apply with rpack allowing dirty" Type="string" />
        <RegistryValue Root="HKCR" Key="rpack.package\shell\apply-dirty" Name="Extended" Value="" Type="string" />
        <RegistryValue Root="HKCR" Key="rpack.package\shell\apply-dirty\command" Value="&quot;[INSTALLFOLDER]rpack-open.exe&quot; --allow-dirty &quot;%1&quot;" Type="string" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
